*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{

}


.webPage{
	width: 100vw;
	height: 100vh;
}

.mainPage{
	top:0;
	width: 100vw;
	height: 100vh;
	background-color: red;
}

.noMenu{
	width: 100vw;
	height: 100vh;
}

.menu1{
	width:300vw;
	height: 100vh;
	background-color: green;
}

.menu2{
	width:300vw;
	height: 100vh;
	background-color: yellow;
}

.menu3{
	width:300vw;
	height: 100vh;
	background-color: red;
}

