*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-y: hidden;
}

body{
  max-width: 200vw;
}

/*this is to still get scrolling effect but dont show scrollbars*/
::-webkit-scrollbar { 
    display: none; 
}

.webPage{
	width: 100vw;
	height: 100vh;
}

.mainPage{
	top:0;
	width: 100vw;
	height: 100vh;
	background-color: red;
}

.noMenu{
	width: 100vw;
	height: 100vh;
}

.menu1{
	width:200vw;
	height: 100vh;
	background-image: url("../assets/images/image1.jpg");
	background-size: cover;
}

.menu2{
	width:200vw;
	height: 100vh;
	background-image: url("../assets/images/image1x.jpg");
	background-size: cover;
}

.menu3{
	width:200vw;
	height: 100vh;
	background-image: url("../assets/images/image1.jpeg");
	background-size: cover;
}

.track-cover {
  position:relative;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: inline-block;
}


/*this is the part about the music container*/
.cover {
  background-size: cover;
  position:relative;
  height: 30vh;
  margin: 1vh;
  border: 3px solid black; 
}

.audio {
  width:310px;
    position: absolute;
    bottom: 0;
    left:0;
}
.cover:hover {
  cursor: pointer;
}

.content-name{
  color: white;
  font-size: 25px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.back-button {
      /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/*////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 640px) { 
  .cover {
      background-size: cover;
      position:relative;
      height: 300px;
      border: 3px solid black; 
  }

}

